<div *ngIf="empList">
    <h1>Employee List</h1>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Code</th>
            <th>Name</th>
            <th>Weekly Effort (Total)</th>
            <th>Weekly Effort (Average)</th>
        </tr>
        <tr *ngFor="let item of employees">
            <td>{{item.id}}</td>
            <td>{{item.code}}</td>
            <td>{{item.name}}</td>
            <td>{{item.total}}</td>
            <td>{{item.avg}}</td>
        </tr>
    </table>
    <button (click)="ShowTimeSheet()">Go to Timesheet page</button>
</div>
<div *ngIf="!empList">
    <h1>Time Sheet List</h1>
    <select id="select-type-user" [(ngModel)]="selectedUser" (change)="fetchTasks()">
        <option *ngFor="let item of employees" [value]="item.id">
            {{item.name}}
        </option>
    </select>
    <select id="select-type-week" [(ngModel)]="selectedWeek" (change)="fetchTasks()">
        <option *ngFor="let week of weekList" value={{week.id}}>{{week.displayName}}</option>
    </select>
    <table class="table">
        <tr>
            <th>Task Name</th>
            <th *ngFor="let day of dayList">
                {{day}}
            </th>
        </tr>
        <tr *ngFor="let item of tasklist">
            <td>
                {{item.taskName}}
                <input type="hidden" [(ngModel)]="item.id">
            </td>
            <td *ngFor="let day of dayList">
                <input type="text" [(ngModel)]="item[day]" (keyup)="makeTotal()">
            </td>
        </tr>
        <tr>
            <td>Total</td>
            <td *ngFor="let day of dayList">
                {{total[day] || 0}}
            </td>
        </tr>
    </table>
    <button (click)="ShowList()">Back to list</button>
    <button (click)="SaveData()">Save</button>
</div>